<div class="article-tile-img">

  {{#link-to 'article' article.id}}<img src="{{article.image}}" class="img img-responsive" alt="" />{{/link-to}}
</div>

<div class="article-tile-info">
  <h4>{{article.title}}</h4>
  <h5>{{article.author}}</h5>
</div>
