<ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/">Literature</a></li>
  <li role="presentation"><a href="/">Reviews</a></li>
  <li role="presentation"><a href="/contact">Contact</a></li>
  <li role="presentation"><a href="/about">About</a></li>
</ul>

{{outlet}}
