<h1 class="articleHeading">Welcome to Contact</h1>

<h3>How to Contact Us:</h3>
<ul>
  <li>Carrier pidgeon</li>
  <img src="https://cdn1.vox-cdn.com/uploads/chorus_asset/file/4341793/giphy.0.gif" alt="" />
  <img src="http://i.giphy.com/TlK63Eu0ViBklB4v5RK.gif" alt="" />
</ul>
